html,
body {
  font-size: 16px;
  background-color: #fff;
  color: #212121;
  word-break: keep-all;

  font-family: Pretendard, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  overflow-x: hidden;
}


* {
  box-sizing: border-box;
}

:root {
  --main-color: #FCB318;
  --period-color: #757575;
  --desc-color: #616161;
}

main {
  padding: 16px;
  max-width: 970px;
  margin: 0 auto;
}

a {
  color: inherit;
}

li {
  margin-bottom: 8px;
}


h1 {
  font-size: 2.6rem;
  text-decoration: underline solid var(--main-color);
  text-underline-position: under;
}

h2 {
  font-size: 2rem;
  margin-bottom: 5px;
}

h3 {
  font-size: 1.5rem;
}

h2::before {
  content: '•';
  color: var(--main-color);
  margin-right: 3px;
}

td:first-child {
  padding-right: 16px;
}

.intro {
  font-size: 1.5rem;
  font-weight: 500;
}

.period {
  font-size: 1rem;
  color: var(--period-color);
}

.tech {
  position: relative;
  display: inline-block;
  padding: 16px 6px 10px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.tech img {
  border-radius: 5px;
}

.tech-title {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 5px;
  top: -14px;
  background-color: #fff;
}


.desc {
  font-size: 1.1rem;
  font-style: italic;
  margin-bottom: 26px;
  color: var(--desc-color);
}

.desc::before {
  content: "“";
  font-size: 1.5rem;
}

.desc::after {
  content: "”";
  font-size: 1.5rem;
}